{% extends 'hcap/base_module.html' %}
{% load i18n material_form material_frontend %}

{% block content %}
<div class="left-panel">
    <div class="card">
        <div class="card-content">
            <div class="card-title">Qual papel você realizará?</div>
            <p>Ainda é necessário aguardar a confirmação do administrador ou do gestor responsável para continuar
                com as atividades</p>

            <ul class="collapsible">
                <li class="{% if active == "cnes" %}active{% endif %}">
                    <div class="collapsible-header">
                        <h5>
                            <i class="material-icons">alarm_add</i>Notificador de unidade hospitalar
                        </h5>
                    </div>
                    <div class="collapsible-body">
                        <p>Usuários notificadores são responsáveis por atualizar a notificação diária de uso de
                            leitos de uma unidade hospitalar. Estes usuários também devem enviar notificações
                            para as mudanças no total de leitos quando ocorrer uma expansão ou redução
                            temporária.</p>
                        <form method="POST">
                            {% form form=cnes_form %}{% endform %}
                            {% csrf_token %}
                            <div class="right-align">
                                <button type="submit" class="waves-effect waves-light btn" name="action"
                                    value="cnes">Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="{% if active == "cities" %}active{% endif %}">
                    <div class="collapsible-header">
                        <h5>
                            <i class="material-icons">supervisor_account</i>Gestor de saúde ({{ user.state }})
                        </h5>
                    </div>
                    <div class="collapsible-body">
                        <p>Usuários gestores geralmente são funcionários de alguma secretaria de saúde e
                            são responsáveis por conferir se os usuários notificadores estão alocados à unidade
                            correta e também podem ver gráficos e dados de uso de todas as unidades dentro da
                            sua área de gestão.
                        </p>
                        <p>Alguns gestores estão autorizados à acessar todo o estado e outros estão autorizados
                            apenas a acessar um município ou região. Inclua a lista dos municípios geridos por código
                            do IBGE ou deixe em branco para incluir o estado inteiro.
                        </p>
                        <form method="POST">
                            <div class="row">
                                <div class="col s12" id="id_cities_container">
                                    {{ cities_form.cities }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="checkbox-field col s12" id="id_state_manager_container">
                                    <label>
                                        {{ cities_form.state_manager }}
                                        <span for="id_state_manager">Gestor estadual?</span>
                                    </label>
                                </div>
                            </div>
                            {% csrf_token %}
                            <div class="right-align">
                                <button type="submit" class="waves-effect waves-light btn" name="action"
                                    value="cities">Enviar
                                </button>
                            </div>
                        </form>
                        {{ cities_form.media.js }}
                        {{ cities_form.media.css }}
                        <script defer>
                            $("#id_state_manager").on("change", function () {
                                $("#id_cities").prop("disabled", function (i, v) { return !v })
                            })
                            $(document).ready(function () {
                                $('.select-dropdown').remove()
                            })
                        </script>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script defer>
    $(function () {
        M.AutoInit();
    });
</script>
{% endblock %}
