{% load i18n %}

<ul>
{% if user.is_notifier %}
  <li><a href="{% url 'hcap:logentry_list' %}">{% trans "Daily report" %}</a></li>
  <li><a href="{% url 'hcap:capacity_list' %}">{% trans "Hospital Capacity" %}</a></li>
  <li><a href="{% url 'hcap:notification_history' %}">{% trans "History" %}</a></li>
{% elif user.is_manager %}
  <li><a href="{% url 'hcap:notifierforhealthcareunit_list' %}">{% trans "Notifier" %}</a></li>
  <li><a href="{% url 'grafana' %}">{% trans "Dashboards" %}</a></li>
{% endif %}
  <li><a href="{% url 'hcap:request_authorization' %}">{% trans "Request authorization" %}</a></li>
  <li><a href="{% url 'hcap:my_authorizations' %}">{% trans "My authorizations" %}</a></li>
</ul>
