{% load i18n %}

<ul>
  <li><a href="{% url 'hcap:healthcare_units_list' %}">{% trans "Healthcare units" %}</a></li>
{% if user.is_notifier %}
  <li><a href="{% url 'hcap:notify' %}">{% trans "Notify" %}</a></li>
{% endif %}
{% if user.is_manager %}
  <li><a href="{% url 'grafana' %}">{% trans "Dashboards" %}</a></li>
  <li><a href="{% url 'hcap:pending_authorizations' %}">{% trans "Pending authorizations" %}</a></li>
{% endif %}
  <li><a href="{% url 'hcap:my_authorizations' %}">{% trans "My authorizations" %}</a></li>
  <li><a href="{% url 'hcap:request_authorization' %}">{% trans "Request authorization" %}</a></li>
</ul>
