{% extends 'hcap/base_module.html' %}
{% load i18n %}

{% block content %}
<div class="left-panel">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{% trans "My notifications" %}</span>

      <div class="collection">
        <a class="collection-item" href="{% url 'hcap:my_capacity_notifications_list' %}">
            <i class="material-icons left">today</i>
            {% trans "Capacity notifications" %}
        </a>

        <a class="collection-item" href="{% url 'hcap:my_condition_notifications_list' %}">
          <i class="material-icons left">show_chart</i>
          {% trans "Condition notifications" %}
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
