{% extends 'hcap/base_module.html' %}
{% load i18n material_form material_frontend %}

{% block content %}
<div class="left-panel">
    <div class="card">
        <div class="card-content">
            <ul class="collapsible">
                <li class="active">
                    {% for unit in units %}
                    <div class="collapsible-header">
                        <h5>
                            <i class="material-icons">local_hospital</i>{{ unit.name }}
                            <span class="small text-lighten-2">({{ unit.city }} - {{ unit.city.state.code }}/CNES:
                                {{ unit.cnes_id }})</span>
                        </h5>
                    </div>
                    <div class="collapsible-body">
                        <div style="margin: 1rem calc(0.5rem + 10%)">
                            <h5>Mudanças na capacidade hospitalar</h5>
                            <img src="{% url "app:capacity_plot" cnes_id=unit.cnes_id %}" style="width: 100%">
                        </div>
                    </div>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</div>
<script defer>
    $(function () {
        M.AutoInit();
    });
</script>
{% endblock content %}
