{% if user.is_notifier %}
<ul>
    <li><a href="{% url 'app:logentry_list' %}">Informe diário</a></li>
    <li><a href="{% url 'app:capacity_list' %}">Capacidade hospitalar</a></li>
    <li><a href="{% url 'app:notification_history' %}">Histórico</a></li>
</ul>
{% elif user.is_manager %}
<ul>
    <li><a href="{% url 'app:notifierforhealthcareunit_list' %}">Notificadores</a></li>
    <li><a href="{% url 'grafana' %}">Dashboards</a></li>
</ul>
{% else %}
<ul>
    <li><a href="{% url 'app:wait_confirmation' %}">Aguardando confirmação</a></li>
</ul>
{% endif %}
